.config/**
!.config/pulse
!.config/pulse/daemon.conf
!.config/pulse/default.pa
.dbus/**
.esd_auth
.mplayer/**
.psql_history
.Xauthority
.Xauthority-n
.bash_history
.lesshst
.ssh/**
.gitconfig
tmp/
.ICEauthority
.cache/**
.local/**
.tkcon_history
