<div id="navigation">
  <p align="center">
  <a href="/static/gvindex.html"><font size="-1">back to collection index</font></a><br>
  <a href="/game/search"><font size="-1">search for a game</font></a>
  <table class="navbar">
    <tbody>
      {{ searchnav }}
      <tr>
        <td class="prev_day"><A HREF="{{ prev_day_url }}">-1 Day</A></td>
        <td class="prev_game"><A HREF="{{ prev_url }}">-1 Game</A></td>
        <td class="next_game"><A HREF="{{ next_url }}">+1 Game</A></td>
        <td class="next_day"><A HREF="{{ next_day_url }}">+1 Day</A></td>
      </tr>
      <tr>
        <td class="navgamenumber">{{ prev_day }}</td>
        <td class="navgamenumber">{{ prev_id }}</td>
        <td class="navgamenumber">{{ next_id }}</td>
        <td class="navgamenumber">{{ next_day }}</td>
      </tr>
    </tbody>
  </table>
</p>
</div>
